<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script>
        $( document ).ready(function() {

            $('#btn_load').bind('click', function(){
                loadStockList();
            })

            $('#btn_load_price_range').bind('click', function(){
                var low = $('#low').text;
                var high = $('#high').text;
                loadTradeListByPrice(low, high)
            })
        });

        function loadStockList(){
            $.ajax({
                url: '/loadAllTrades',
                success: function(text){
                    $('#trade_list').html(JSON.stringify(text));
                }
            });
        }

        function loadTradeListByPrice(low, high){
            $.ajax({
                url: '/loadTradesByPrice',
                success: function(text){
                    $('#trade_list').html(JSON.stringify(text));
                }
            });
        }

        function delMsg(){

            $.ajax({
                url: '/firstRestExample/'+$('#input_msg').val(),
                method: 'DELETE',
                success: function(text){
                    alert(text);
                    //$('#trade_list').html(JSON.stringify(text));
                }
            });
        }
    </script>
</head>
<body>
<div class="container-fluid">
    <div class="row bg-primary">
        <div class="col-md-8"><h3>Stock Trading Console</h3></div>
        <div class="col-md-2 "><a href="/signup" class="text-white">Sign Up</a></div>
        <div class="col-md-2 "><a href="/login" class="text-white">Login in</a></div>
    </div>
</div>


<button id="btn_load" class="btn-sm">Load All Trade list</button>

Low: <input id="low" />
High: <input id="high" />
<button id="btn_load_price_range" class="btn-sm">Load Trade list by price range</button>

<div class="container">
    <div class="row">
        <div id="trade_list" class="row bg-light">
            Nothing to show
        </div>
    </div>

</div>


    <a href="/list">Stock List</a>

    <br/>
    <input id="input_msg" type="text" />
    <button onclick="delMsg()" >Delete Msg</button>
</body>
</html>