<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Stock List</title>

    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <script>
        $( document ).ready(function() {
            $.ajax({
                url: '/listStockByTicker',
                success: function(text){
                    $('#content').html(text);
                }
            });

            $('#header').html('Dynamic Header');

            $('#footer').html('Dynamic Footer');
        });
    </script>
</head>
<body>

<div id="header">Header</div>
<div id="content">Content</div>
<div id="footer">Footer</div>

</body>
</html>